html, body {
    margin: 0 auto;
    font-size: 20px;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    background: #fff;
    color: #303030 !important;
    width: 100%;
    font-family: "Microsoft yahei";
    -webkit-overflow-scrolling: touch;
    max-width: 640px;
    position: relative;
}

* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-sizing: border-box;
    box-sizing: border-box;
}


input[type="search"] {
    -webkit-appearance: none;
}
input::-webkit-search-cancel-button {
    display: none;
}
a {
    cursor: pointer;
    text-decoration: none;
}
ul li, ol li {
    list-style: none;
}
img {
    vertical-align: top;
    border: none;
}
em,i {
    font-style: normal;
}
.hide {
    display: none !important;
}

.fr {
    float: right;
}
.fl {
    float: left;
}
.clear-fix:after {
    content:'';
    display: block;
    clear: both;
}
.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

button, html, input, select,textarea {
    cursor: pointer;
    outline: none;
    border: none;
    color: #555 !important;
}
select {
    outline: 0!important;
    -webkit-appearance: none!important;
    -moz-appearance: none!important;
    appearance: none!important;
    background: 0 0;
    border: none;
    vertical-align: middle;
    cursor: pointer;
}

.placeholder-line {
    width: 100%;
    height: 0.25rem;
    background: #f4f4f4;
}
.carpool-icon {
    position: absolute;
    width: 0.8rem;
    height: 0.8rem;
    background: url('/public/images/icon.png') no-repeat;
    background-size: 5rem 5rem;
    top:50%;
    z-index: 2;
    margin-top: -0.4rem;
}

.message {
    position: fixed;
    z-index: 100;
    height: 2.1rem;
    top: 0;
    line-height: 2.1rem;
    width: 100%;
    color: #fff;
    font-size: 0.8rem;
    background: rgba(0, 183, 195, 0.9);
    max-width: 640px;
    display: none;
}
.message.error {
    display: block;
    background: rgba(255, 96, 96, 0.9);
}

.footer-wrap {
    padding: .4rem .8rem;
    position: fixed;
    bottom: 0;
    z-index: 100;
    width: 100%;
    max-width: 640px;
    background-color: #fff;
    margin: 0 auto;
}
.footer-wrap a {
    width: 100%;
    display: block;
    height: 1.8rem;
    line-height: 1.8rem;
    color: #fff;
    font-size: 0.8rem;
    border-radius: .2rem;
    text-align: center;
    cursor: pointer;
    background: #ff6060;
    letter-spacing: 4px;
}
header {
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.06);
    height: 2.4rem;
    line-height: 2.4rem;
    font-size: 1rem;
    width: 100%;
    max-width: 640px;
    z-index: 30;
    background: #fff;
    text-align: center;
    position: relative;
    padding: 0 0.8rem ;
    letter-spacing: 2px;
}
header.header-address-wrap {
    display: flex;
    letter-spacing: 0;
}

.header-address-wrap>div {
    position: relative;
    width: 50%;
    font-size: 0.85rem;
    text-align: center;
}
.header-address-wrap em {
    display: none;
    right: 0.4rem;
    background-position: -2.8rem -0.9rem;
}

/*.header-address-wrap select {*/
    /*margin-left: -0.3rem;*/
    /*padding: 0 0.1rem;*/
    /*border: 1px solid #f0f0f0;*/
    /*font-size: 0.75rem !important;*/
    /*width: 54%;*/
    /*line-height: 1.8rem;*/
    /*border-radius: 0.2rem;*/
    /*margin-top: -0.2rem;*/
/*}*/
/*.header-address-wrap div:last-child {*/
    /*margin-left: 2.2rem;*/
/*}*/


.header-address-wrap i {
    position: absolute;
    left: 50%;
    margin-left: -1rem;
    width: 2rem;
    height: 1.5rem;
    margin-top: -0.75rem;
    background-position: 0.3rem -3.6rem;
    cursor:pointer;
}

.choice-type-wrap {
    padding: 0.8rem 0 0.2rem 0.8rem;
}
.choice-type-wrap>div {
    padding-left: 0.2rem;
    position: relative;
    height: 2rem;
    font-size: 0.8rem;
    line-height: 2rem;
    color: #909090;
    cursor:pointer;
    border-bottom: 1px solid #f4f4f4;
}
.choice-type-wrap>div:last-child {
    border-bottom: none;
}
.choice-type-wrap div.active {
    color: #303030;
}
.choice-type-wrap i.carpool-icon {
    right: 0.8rem;
    margin-top: -0.5rem;
    height: 1rem;
    width: 1rem;
    background-position: -10rem -10rem;
    border: 1px solid #eee;
    border-radius: 50%;
}
.choice-type-wrap div.active i.carpool-icon {
    background-position: -1.3rem -1.9rem;

}


/*
* index
*/
.route-wrap {
    position: relative;
}

.route-select-wrap {
    padding: 1rem 0 0.8rem 0.8rem;
    font-size: 0.9rem;
}
.route-select-wrap .route-title {
    line-height: 2rem;
}

.route-select-wrap .route-list-wrap {
    position: relative;
    padding-left: 1.6rem;
    line-height: 2rem;
    border-bottom: 1px solid #f0f0f0;
    margin-bottom: 1rem;
    color: #555 !important;
}

.route-list-wrap select {
    border-radius: 0.25rem;
    width: 12rem;
    padding: 0 0.25rem;
    height: 2rem;
    display: inline-block;
    vertical-align: top;
    border: none;
    font-size: 0.8rem !important;
}

.route-list-wrap:after {
    content: '';
    display: block;
    position: absolute;
    right: 0.8rem;
    top: 50%;
    height: 0;
    border: 0.3rem solid transparent;
    border-top: 0.3rem solid #eee;
    margin-top: -0.15rem;
}


/*
* 信息列表
*/

.info-ul-wrap {
    padding-bottom: 3rem;
}
.info-ul-wrap li {
    position: relative;
    padding: 1rem 0.8rem;
    font-size: 0.75rem;
    border-bottom: 1px solid #f0f0f0;
}
.info-ul-wrap .info-phone-wrap.carpool-icon {
    width: 2rem;
    height:2rem;
    line-height: 2rem;
    border-radius: 50%;
    right: 0.8rem;
    cursor: pointer;
    top: 3rem;
    margin-top: 0;
    z-index: 20;
    background-position: -2.8rem -1.7rem;
}

.info-ul-wrap li p {
    margin-left: 2.5rem;
    line-height: 1.4rem;
    position: relative;
}
.info-ul-wrap li i {
    position: relative;
    margin-left: -2.5rem;
}

.info-ul-wrap li span {
    margin-left: 0.2rem;
}
.info-ul-wrap li .seal_over{
    width: 3.875rem;
    height: 3.425rem;
    position: absolute;
    display: block;
    top: 2.3rem;
    left: 2.7rem;
    background-image: url(/public/images/tripover.png);
    background-repeat: no-repeat;
    background-size: 4.1rem;
}
.info-ul-wrap li .create_time{
    font-size: 0.6rem;
    position: absolute;
    right: 0;
    color: #ccc;
}

.list-footer-wrap {
    margin: 0 auto;
    position: fixed;
    bottom: 0;
    padding: .4rem 0;
    background-color: #fff;
    width: 100%;
    max-width: 640px;
    text-align: center;
    font-size: 0;
    z-index: 40;
}
.list-footer-wrap a {
    cursor: pointer;
    display: inline-block;
    font-size: .8rem;
    height: 1.8rem;
    line-height: 1.8rem;
    border: 1px solid #ff6060;
    background: #fff;
    width: 8.3rem;
    border-radius: .2rem;
    color: #fff;
    letter-spacing: 2px;
}
.list-footer-wrap a:first-child {
    color: #ff6060;
}
.list-footer-wrap a:last-child {
    margin-left: .5rem;
    background-color: #ff6060;
}


/*
* publish
*/
.publish-wrap {
    position: relative;
}
.publish-user-info-wrap {
    width: 100%;
    padding-left: 0.8rem;
    font-size: 0.75rem;
}
.publish-user-info-wrap li {
    position: relative;
    border-bottom: 1px solid #f0f0f0;
    line-height: 2.4rem;
    padding: 0 0.2rem;
}
.publish-user-info-wrap span{
    display: inline-block;
    vertical-align: top;
}
.publish-user-info-wrap input {
    display: inline-block;
    height: 2.4rem;
    vertical-align: top;
    width: 14rem;
    font-size: 0.75rem !important;
}
.publish-user-info-wrap .iDate {
    height: 2.4rem;
    width: 12.5rem;
}
.publish-user-info-wrap .iDate>input {
    height: 2.4rem;
}

.publish-user-info-wrap .iDate>button {
    border: none !important;
}
.publish-remark-wrap {
    position: relative;
}
.publish-remark-wrap textarea{
    width: 100%;
    font-size: 0.75rem;
    padding-top: 0.5rem;
    padding-right: 0.5rem;
    height: 10rem;
}
.publish-remark-wrap p {
    line-height: 1rem;
    font-size: 0.6rem;
    position:absolute;
    bottom:0;
    right:0.8rem;
    color: #909090;
}
.blank-wrap {
    padding: 4rem 2rem;
}
.blank-wrap img{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: block;
}
.blank-wrap p {
    line-height: 2rem;
    color: #c0c0c0;
    font-size: 0.8rem;
}










